<section class="divider-section section-padding">
  <div class="divider-holder wrap"></div>
</section>
<div class="hero-wrap" data-aos="fade-up">
  <div class="wrapper--full-padded">
    <div class="hero-image-wrap">
      <img
        src="https://broadcast-bright.myshopify.com/cdn/shop/files/Edit_1Big.jpg?v=1673455245&width=1728"
        alt=""
        width=""
        height=""
      >
    </div>
  </div>
</div>
<section class="hero-content-wrap">
  <div class="wrapper--narrow">
    <div class="hero-content-title" data-aos="fade-up">
      <h2 class="h2">Our Story</h2>
    </div>
    <div class="hero-content-description" data-aos="fade-up">
      <p>
        Cozy and sustainable clothing for all kiddos. Style your little one in fun clothing that is easy to wear,
        durable and timeless.
      </p>
    </div>
    <div class="hero-content-subheading" data-aos="fade-up">
      <p>— Founders</p>
    </div>
  </div>
</section>
<section class="multicolumn-wrap">
  <div class="container">
    <div class="multicolumn">
      <div class="column-inner" data-aos="fade-up" data-aos-order="1">
        <div class="column-icon">
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-leaf"
            viewBox="0 0 24 24"
          >
            <path
              d="M7 21s.5-4.5 4-8.5m8.13-8.258.594 6.175c.374 3.886-2.54 7.346-6.425 7.72-3.813.367-7.267-2.42-7.634-6.233a6.936 6.936 0 0 1 6.239-7.569l6.571-.632a.6.6 0 0 1 .655.54z"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
        <div class="column-content">
          <h2 class="column-heading">Environmentally friendly</h2>
          <p class="column-text">We support the creation and reuse of quality materials</p>
        </div>
      </div>
      <div class="column-inner" data-aos="fade-up" data-aos-order="2">
        <div class="column-icon">
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-heart"
            viewBox="0 0 24 24"
          >
            <path
              d="M22 8.862a5.95 5.95 0 0 1-1.654 4.13c-2.441 2.531-4.809 5.17-7.34 7.608-.581.55-1.502.53-2.057-.045l-7.295-7.562c-2.205-2.286-2.205-5.976 0-8.261a5.58 5.58 0 0 1 8.08 0l.266.274.265-.274A5.612 5.612 0 0 1 16.305 3c1.52 0 2.973.624 4.04 1.732A5.95 5.95 0 0 1 22 8.862z"
              stroke="#000"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
        <div class="column-content">
          <h2 class="column-heading">Fair trade certified</h2>
          <p class="column-text">Ethical and sustainable conditions for all our employees</p>
        </div>
      </div>
      <div class="column-inner" data-aos="fade-up" data-aos-order="3">
        <div class="column-icon">
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-donation"
            viewBox="0 0 24 24"
          >
            <path
              d="M16 6.28a2.28 2.28 0 0 1-.662 1.606c-.976.984-1.923 2.01-2.936 2.958a.597.597 0 0 1-.822-.017l-2.918-2.94a2.281 2.281 0 0 1 0-3.214 2.277 2.277 0 0 1 3.232 0L12 4.78l.106-.107A2.276 2.276 0 0 1 16 6.28z"
              stroke="#000"
              stroke-linejoin="round"
            ></path>
            <path
              d="m18 20 3.824-3.824a.6.6 0 0 0 .176-.424V10.5A1.5 1.5 0 0 0 20.5 9v0a1.5 1.5 0 0 0-1.5 1.5V15"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="m18 16 .858-.858a.484.484 0 0 0 .142-.343v0a.485.485 0 0 0-.268-.433l-.443-.221a2 2 0 0 0-2.308.374l-.895.895a2 2 0 0 0-.586 1.414V20M6 20l-3.824-3.824A.6.6 0 0 1 2 15.752V10.5A1.5 1.5 0 0 1 3.5 9v0A1.5 1.5 0 0 1 5 10.5V15"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="m6 16-.858-.858A.485.485 0 0 1 5 14.799v0c0-.183.104-.35.268-.433l.443-.221a2 2 0 0 1 2.308.374l.895.895a2 2 0 0 1 .586 1.414V20"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
        <div class="column-content">
          <h2 class="column-heading">Giving back</h2>
          <p class="column-text">1% of our sales are donated to grassroots organizations</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-slider-wrap">
  <div class="about-slider swiper reviewSlider">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-aos="fade-up" data-aos-order="1">
        <div class="about-slider-content">
          <div class="about-slider-image">
            <img
              src="https://broadcast-bright.myshopify.com/cdn/shop/files/TSC012_S21-K300_Paperbag_Waist_Skirt_Green_DTL_B.jpg?v=1674222186&width=480"
              alt=""
              width=""
              height=""
            >
          </div>
          <div class="about-slider-body">
            <blockquote>
              Love this brand! Love the colors and the durable soft materials. Terrific prices and fast shipping. My kid
              loves wearing their clothing.
            </blockquote>
            <div class="author-content-wrap">
              <div class="author-name">Tina Lee</div>
              <div class="author-content uppercase">Customer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-aos="fade-up" data-aos-order="2">
        <div class="about-slider-content">
          <div class="about-slider-image">
            <img
              src="https://broadcast-bright.myshopify.com/cdn/shop/files/TSC019_S21-K202_French_Terry_Shorts_Tan_D.jpg?v=1674222218&width=480"
              alt=""
              width=""
              height=""
            >
          </div>
          <div class="about-slider-body">
            <blockquote>
              I was very pleased with everything about my purchase. The tailoring, the fabric, the color. I'll
              definitely be purchasing from here again.
            </blockquote>
            <div class="author-content-wrap">
              <div class="author-name">Tina Lee</div>
              <div class="author-content uppercase">Customer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-aos="fade-up" data-aos-order="3">
        <div class="about-slider-content">
          <div class="about-slider-image">
            <img
              src="https://broadcast-bright.myshopify.com/cdn/shop/files/TSC024_S21-W401_Apron_Dress_Yellow_DTL_B.jpg?v=1674222231&width=480"
              alt=""
              width=""
              height=""
            >
          </div>
          <div class="about-slider-body">
            <blockquote>
              This brand has easily become one of my favorite places to order clothing for my children! I've loved every
              single thing I've purchased!
            </blockquote>
            <div class="author-content-wrap">
              <div class="author-name">Tina Lee</div>
              <div class="author-content uppercase">Customer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-slider-button-wrap">
      <div class="about-slider-button-prev">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40px"
          height="40px"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="1.5"
          color="currentColor"
        >
          <path
            d="M18.5 12H6m0 0l6-6m-6 6l6 6"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="about-slider-button-next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40px"
          height="40px"
          viewBox="0 0 24 24"
          fill="none"
          color="currentColor"
        >
          <path
            d="M6 12h12.5m0 0l-6-6m6 6l-6 6"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
<section class="image-text-column section-padding">
  <div class="wrapper--full-padded">
    <div class="image-text-column" data-aos="fade-up">
      <div class="row">
        <div
          class="column-wrap col-4"
          data-aos="fade-up"
          data-aos-order="1"
        >
          <div
            class="column-card flex flex-col justify-space-between align-center"
          >
            <div class="column-image">
              <img
                src="https://broadcast-bright.myshopify.com/cdn/shop/files/Look9_0078-copy.jpg?v=1674232218&width=540"
                alt=""
                width=""
                height=""
              >
            </div>
            <div class="column-body">
              <h6 class="h6 text-center">
                We are committed to bringing you the latest trends in kid's fashion. We offer a wide selection of
                apparel, accessories, and shoes for all kiddos.
              </h6>
            </div>
          </div>
        </div>
        <div
          class="column-wrap col-4"
          data-aos="fade-up"
          data-aos-order="2"
        >
          <div
            class="column-card flex flex-col justify-space-between align-center"
          >
            <div class="column-image">
              <img
                src="https://broadcast-bright.myshopify.com/cdn/shop/files/Look11_0119.jpg?v=1674232263&width=540"
                alt=""
                width=""
                height=""
              >
            </div>
            <div class="column-body">
              <h6 class="h6 text-center">
                Our goal is to provide quality clothing at affordable prices. We focus on creating stylish and
                comfortable pieces that your kids will love.
              </h6>
            </div>
          </div>
        </div>
        <div
          class="column-wrap col-4"
          data-aos="fade-up"
          data-aos-order="3"
        >
          <div
            class="column-card flex flex-col justify-space-between align-center"
          >
            <div class="column-image">
              <img
                src="https://broadcast-bright.myshopify.com/cdn/shop/files/Look3_0003-2.jpg?v=1674232280&width=540"
                alt=""
                width=""
                height=""
              >
            </div>
            <div class="column-body">
              <h6 class="h6 text-center">
                We're here to help you find the perfect outfit for any occasion. Shop with us and let us help you create
                the perfect look for your little one.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
